* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

body {
  width: 95%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

header h3 {
  font-size: 25px;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
}

.product-card {
  width: 300px;
  height: 420px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
}

.product-card h4 {
  font-size: 15px;
}

.product-card h3 {
  font-size: 20px;
  font-weight: 600;
}

.product-card p {
  margin: 10px 0;
}

.product-card a button {
  width: 100%;
  border: none;
  padding: 10px 0;
  margin-top: 5px;
  border-radius: 4px;
  background-color: rgb(192, 212, 230);
  cursor: pointer;
}
